<h1> About  </h1>
<br>

<p class="round aboutplacement"> Survey Engine is a site written by Mike Matusevich and Armando Diaz in Ruby on Rails.
This site is intended to host and take surveys. Currently, only questions having a numeric answer 
from 1 to 5 may be asked. </p>


