<%= link_to("Back to List", {:action =>'list'}, :class=>'back-link')%>
 
 
 <div class="Survey new">
 	
 	<!-- Hey Mike I got rid of this parameter in the form_for call :
 		:url => {:action => 'update', :id => @survey.id}
 		
 		Instead I added the paramter @survey -->
 	<%= form_for(:survey, @survey) do |f|%>
	<table summary="Survey form fields">
		<tr>
			<th>Survey Title</th>
			<td><%= f.text_field(:title)%></td>
		</tr>
		 
	</table>
	<div class="form-buttons">
		<%= submit_tag("Edit Survey")%>
	</div>
	<%end%>
	
	
	
	
	
	
	
	</div>
