<!DOCTYPE html>
<html>
  <head>
  	 
    <title> Survey Engine </title>
  </head>
  <body >
  	
  	
  	
		
	
	
	 
		
     <div>
     	 <h1 class="title">Survey Engine</h1>
     	<ul class="mainPageList" >
     		
     		<li class="mainPageHover" ><%= link_to ( "Survey Administrator", {:controller=> 'survey', :action=>'list'})%></li>
			<li class="mainPageHover" ><%= link_to ( "Survey Taking", {:controller=> 'result', :action=>'list'})%></li>
			<li class="mainPageHover" ><%= link_to ( "Survey Result", {:controller=> 'result', :action=>'result'})%></li>
			
     	</ul>
</div> 
<!-- ></center> -->
  </body>
</html>
