<script>
	function addQuestion(){
		
		$.ajax({
  			url: 'questionAdd',
  			success: function(html){
    		$("#add").append(html);
  }
});
		 	  
	};
</script>

<%= link_to("Back to List", {:action =>'list'}, :class=>'back-link')%>
 
 
 <div class="theater new">
 	<%= form_for(@survey, :url => {:action => 'create'}) do |f|%>
	<table summary="Survey form fields">
		<tr>
			<th>Survey Name</th>
			<td><%= f.text_field(:title)%></td>			
		</tr>
		<tr><td></td><td><input type="button" onclick="addQuestion();" value="Add Question"></td></tr>
	</table>
	<div id="add"></div>
	<div class="form-buttons">
		<%= submit_tag("Create Survey")%>
	</div>
	<%end%>
	
	
	
	
	
	
	
	</div>
