<div class="Survey list">
		<div class="title">
			<h2><%= @survey.title %></h2>
		</div>
<table class="center">
<tr>
<th>

</th>
</tr>

<tr> <td>
<table class="fixedWidth" summary="Questions List">
 <tr class="header">
  <th>ID</th>
  <th>Questions</th>
</tr>
<%num=0%>
<% @survey.questions.each do |t| %>
<tr>
	<td style="width:10px;"><%=num = num+1 %></td>
	<td ><%= t.title %></td>
	 
</tr>

<% end %>


</table>
</td></tr>
</table>
</div>

<br>
