<div class="Survey list">
		
<table class="center">
<tr>
<th>
<h2><%= @survey.title %></h2>
</th>
</tr>





<tr> <td>
<table class="fixedWidth" summary="Questions List">
 <tr class="header">
  <th>ID</th>
  <th>Questions</th>
</tr>
<% @survey.questions.each do |t| %>
<tr>
	<td><%=t.id %></td>
	<td ><%= t.title %></td>
	 
</tr>

<% end %>


</table>
</td></tr>
</table>
</div>

<br>
