
<div class="Survey list">
	<table class="center">
		<tr>
			<th style="border:none;"><h2>Surveys  </h2> </th>
		</tr>
 

	<tr><td>
<table class="fixedWidth">
 <tr class="header">
  <th>ID</th>
  <th>Title</th>
  <th>Action</th>
</tr>

<%num=0%>
<% @surveys.each do |t| %>
<tr>
	<td><%=num = num+1 %></td>
	<td ><%= t.title %></td>
	
	<td class="center">
		<center>
		<table class="hover" class="center">
			
		<tr><td>
		<%= link_to("View Result", {:action =>'viewResult', :id => t.id}, :class => 'action viewResult')%></td></tr>
	
		</table>
		</center>
	</td>
 
	
	 
</tr>

<% end %>


</table>
</td> </tr>
</table>
</div>
