

/*
      Created by CSS Portal Layout Generator
	  
	  http://www.cssportal.com
	  	  
*/

* { padding: 0; margin: 0; }

h1, h2, h3, h4, h5, h6 /* code for all headings */
{
	font :bold 20px "Comic Sans MS", Arial, Helvetica, sans-serif;
	color:#0033CC ;

}
body 
{
 /* background-image: url("/images/survey.jpg"); */
 background-repeat: no-repeat;
 text-align:center;
 background-color:#d0e4fe; 
 /* font-family: Verdana, Arial, Helvetica, sans-serif;*/
 font-size: 20px;
}

p.aboutplacement {
 padding: 10px;
 background: #3399FF;
 position: relative ;
 width: 40% ; 
 left: 6% ;
}

table.place {
 padding: 10px;
 position: relative ;
 width: 40% ; 
 left: 10% ;
}
tr.place {
 padding: 10px;
 position: relative ;
 width: 40% ; 
 left: 80% ;
}
#wrapper { 
 margin: 0 auto;
 width: 70%;
}

#content { 
 float: left;
 color: #333;
 background: #99CC33;
 height: 350px;
 width: 70%;
 display: inline;
}

#navigation {
 float: left;
 width: 70%;
 height: 25px;
 color: #333;
 background: #6699FF;
}

/* code for links */

a {
	/*color:#78bbe6; */
	color: #09c ;
	text-decoration:none;
}
a:hover {
	color: #069 ;
	text-decoration:underline;
}
a:visited 
{
	color: #069 ;
}

a.new_box  /* code for adding stuff box */
{

	
	display: block ;
	text-align: center ;
	width: 190px ;
	color: #3399FF ;
	background: #993366 ;
	font-size: 120% ;
	font-weight: bold ;
	padding: 20 px ;
	text-decoration:none ;
	border-radius: 5px 10px 5px 10px / 10px 5px 10px 5px;
}

.nav_box {
 float: left;
 width: 10%;
 height: 25px;
 color: #333;
 background: #6699FF;
 
 
  position:absolute;
	 left:auto;
	 z-index:2; 
}
.nav_box:hover { 
 background-color: red;
}
.round /* css for rounded box corners NOT WORKING YET  */
{
	-moz-border-radius: 10px ;
	-webkit-border-radius: 10px ;
	border-radius: 10px ;
}

/* table header code */
th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;

	/* add an image or something here ??? 
	 * code came from 
	 * http://veerle-v2.duoh.com/blog/comments/a_css_styled_table/
	background: #CAE8EA url(images/bg_header.jpg) no-repeat; */ 
	}

  table.center /* code to center a table */
  {
	margin-left:auto;
	margin-right:auto;
  }

  .centerchart
  {
	margin-left:auto;
	margin-right:auto;

  }

td {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}


td.alt {
	background: #F5FAFA;
	color: #B4AA9D;
}

/* unordered list data */

ul 
{
	
	margin-left:auto;
	margin-right:auto;
}
li {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}
