 
 
 <div class="Question new">
 	<%= form_for(:question, :url => {:action => 'update', :id => @question.id}) do |f|%>
	<table summary="Question form fields">
		<tr>
			<th>Question Title</th>
			<td><%= f.text_field(:title)%></td>
		</tr>
		 <tr><td style="background-color: #d0e4fe; border:none;"></td><td style="background-color: #d0e4fe; text-align:right; border:none;"><%= submit_tag("Edit Question")%></td></tr>
	</table>
 
	<%end%>
	 
	</div>
