<script>
	
</script>

 
 
 <div id="QuestionNew">
 	<%= form_for(@question, :url => {:controller => 'question', :action => 'create', :id => @survey.id}) do |f|%>
	<table class="center" summary="Question form fields">
		<tr>
			<th>Question Name</th>
			<td><%= f.text_field(:title)%></td>
			
		</tr>
		<tr>
			 <tr><td style="background-color: #d0e4fe; border:none;"></td><td style="background-color: #d0e4fe; text-align:right; border:none;">	<%= submit_tag("Create Question")%></td></tr>
			
		</tr>
	</table>
	 
	<%end%>
	
	</div>
